.navbar_header {
  background: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar_container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.navbar_brand {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar_brand img {
  width: 45px;
  margin-right: 10px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar_menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar_menu li a:hover {
  color: crimson;
}
